{{!< layout/default}}
{{#extend "css" }}
    <link rel="stylesheet" type="text/css" href="/public/modules/movements/movements.css">
{{/extend}}

<h2 class="text-center">MOVIMIENTOS</h2>

<br>

<div class="row">
    <div class="col-md-1 col-xs-12">
        Cliente
        <select id="searchClient" class="custom-select custom-select-sm">
            <option value="">TODOS</option>
        </select>
    </div>
    <div class="col-md-1">
        <br/>
        <button class="btn btn-sm btn-dark classOut classMove" onclick="selectClientSearch('search')" title="Buscar Cliente"><i class="fas fa-search"></i></button>
    </div>
    <div class="col-md-2 col-xs-12">
        Número Container
        <!--<input id="searchNumber" type="text" placeholder="Ej: ABC123" class="form-control form-control-sm border-input">-->
        <form autocomplete="off" action="/action_page.php">
            <div class="autocomplete">
              <input id="searchNumber" type="text" class="form-control form-control-sm border-input">
            </div>
          </form>
    </div>

    
    <div class="col-md-2 col-xs-12">
        Estado / Últ. Movimiento
        <select id="searchStatus" class="custom-select custom-select-sm noInventory">
            <option value="TODOS">TODOS</option>
            <option value="EN SITIO">EN SITIO</option>
            <option value="RETIRADO">RETIRADO</option>
            <option disabled>──────────</option>
            <option value="POR INGRESAR">POR INGRESAR</option>
            <option value="INGRESADO">INGRESADO</option>
            <option value="TRASLADO">TRASLADO</option>
            <option value="POR SALIR">POR SALIR</option>
            <option value="SALIDA">SALIDA</option>
            <option value="TRASPASO">TRASPASO</option>
            <option value="DESCONSOLIDADO">DESCONSOLIDADO</option>
        </select>
    </div>
    <div class="col-md-2 col-xs-12">
        Fecha Desde - Hasta
        <input id="searchDate" type="text" placeholder="Ej: ABC123" class="form-control form-control-sm border-input noInventory">
    </div>
    <div class="form-check col-md-1  col-xs-12">
        <br/>
        <input class="form-check-input" type="checkbox" value="" id="searchDateOut">
        <label class="form-check-label" for="flexCheckDefault">
            Filtrar por fecha salida
        </label>
    </div>
    <div class="form-check col-md-1  col-xs-12">
        <br/>
        <input class="form-check-input" type="checkbox" value="" id="searchInventory">
        <label class="form-check-label" for="flexCheckDefault">
            Sólo en inventario
        </label>
    </div>
        
    <div class="col-md-2 col-xs-12">
        <br>
        <button class="btn btn-primary btn-block" id="search">
            <i class="fas fa-search"></i> BUSCAR
        </button>
    </div>
    <div class="col-md-12">
        <br/>
        <div class="row">
            <div class="col-md-2 col-xs-12">
                <br>
                <button class="btn btn-success btn-block" id="sendMail">
                    <i class="fas fa-file-import"></i> TEST CORREO
                </button>
                <br>
                <button class="btn btn-success btn-block" id="optionCreateMovement">
                    <i class="fas fa-file-import"></i> LLEGADA
                </button>
                <br>
                <button class="btn btn-outline-success btn-block" id="optionModMovement" disabled>
                    <i class="fas fa-edit"></i> MODIFICAR
                </button>
                <br>
                <button class="btn btn-info btn-block" id="optionMovMovement" disabled>
                    <i class="fas fa-trailer"></i> MOV. INTERNO
                </button>
                <br>
                <button class="btn btn-primary btn-block" id="optionCloseMovement" disabled>
                    <i class="fas fa-file-export"></i> DAR SALIDA
                </button>
                <hr>
                <button class="btn btn-warning btn-block" id="optionDeconsolidatedMovement" disabled>
                    <i class="fas fa-trailer"></i><i class="fas fa-angle-double-right"></i><i class="fas fa-truck-loading"></i> DESCONSOLIDADO
                </button>
                <hr>
                <button class="btn btn-primary btn-block" id="optionTransferMovement">
                    <i class="fas fa-truck-moving"></i><i class="fas fa-angle-double-right"></i><i class="fas fa-truck-moving"></i> TRASPASO
                </button>
                
            </div>
            <br>
            <div class="col-md-10 col-xs-12 table-responsive">
                <table id="tableMovements" class="display nowrap table table-condensed" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>FECHA INGRESO</th>
                            <th>FECHA SALIDA</th>
                            <th>DÍAS EXTRA</th>
                            <th>ÚLT. MOVIMIENTO</th>
                            <th>INVENT.</th>
                            <th>CLIENTE</th>
                            <th>CONTENEDOR</th>
                            <th>TIPO</th>
                            <th>LARGO</th>
                            <th>ESTADO</th>
                            <th>PAÑO</th>
                            <th>UBICACION</th>
                            <th>CONDUCTOR</th>
                            <th>PATENTE</th>
                        </tr>
                    </thead>
                </table>
                <div id="loadingMovements">
                    <center>
                        <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
                        <span class="sr-only">Cargando...</span>
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="movementsModal" role="dialog" aria-labelledby="modal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modalMov_title"></h4>
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                        </div>
                        <div id="divPrintIn" class="col-md-2">
                        </div>
                        <div id="divPrintOut" class="col-md-2">
                        </div>
                        <div class="col-md-2">
                            <button id="btnMap" class="btn btn-sm btn-success" onclick="showMap()"><i class="fas fa-map-marked-alt" aria-hidden="true"></i>Ver en Mapa</button>
                        </div>
                        <div class="col-md-2">
                            <button id="btnHistory" class="btn btn-sm btn-primary" onclick="showHistory()">Historial Mov.</button>
                        </div>
                    </div>
                </div>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalMov_body"></div>
            <div class="modal-footer" id="modalMov_footer"></div>
        </div>
    </div>
</div>

<div class="modal fade" id="extraModal"  role="dialog" aria-labelledby="modal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modalExtra_title"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalExtra_body"></div>
            <div class="modal-footer" id="modalExtra_footer"></div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalMap"  role="dialog" aria-labelledby="modal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modalMap_title"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalMap_body">
                <div id="divMap" style="width: 1000px; height: 600px;">
                    <canvas id="wallCanvas" width="100" height="100" style="border:1px solid #000000; position: absolute; z-index: 0; display: block; margin: 0 auto;"></canvas>
                    <canvas id="myCanvas" width="100" height="100" style="border:1px solid #000000; position: absolute; z-index: 1; display: block; margin: 0 auto;"></canvas>
                </div>
            </div>
            <div class="modal-footer" id="modalMap_footer"></div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal"  role="dialog" aria-labelledby="modal" style="z-index: 1080">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modal_title"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modal_body"></div>
            <div class="modal-footer" id="modal_footer"></div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalClient" role="dialog" aria-labelledby="modal" style="z-index: 1070" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modalClient_title">Nuevo Cliente</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalClient_body">
                
            </div>
            <div class="modal-footer" id="modalClient_footer">
                <button class="btn btn-dark" data-dismiss="modal">
                    <i class="fas fa-times"></i> Cancelar
                </button>
        
                <button class="btn btn-primary" id="saveClient">
                    <i class="fas fa-check"></i> Almacenar
                </button>
            </div>
        </div>
    </div>
</div>

{{#extend "js"}}
    <script src="/public/modules/default/logoImg.js"></script>
    <script src="/public/modules/movements/movements.js"></script>
    <script src="/public/modules/map2D/map2D.js"></script>
{{/extend}}